.header{
    height: 50px;
    background-color: #4CAF50;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
}


.profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightblue;
    
}


.name{
    color: white;
    font-weight: 600;
    font-size: 1rem;
}